body {
  font-family: 'Roboto', sans-serif;
  background: #000;
  color: #fff;
  margin: 20px;
  
}

h2, h3 {
  font-family: 'Orbitron', sans-serif;
  color: #39FF14;
}

.filtros {
  margin: 20px 0;
  text-align: center;
}

.filtros button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: #1E90FF;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.filtros button:hover {
  background: #39FF14;
  color: black;
  transform: scale(1.05);
}

.producto-card {
  background: #111;
  display: flex;
  gap: 15px;
  align-items: flex-start;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  width: 24cm;
  box-shadow: 0 0 10px rgba(30,144,255,0.6);  
}

.producto-card img {
  width: 150px;
  border-radius: 8px;
}

.producto-card .info {
  flex: 1;
}

.producto-card h4 {
  margin: 0;
  color: #39FF14;
}

.btn-agregar {
  margin-top: 10px;
  padding: 8px 12px;
  background: #1E90FF;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-agregar:hover {
  background: #39FF14;
  color: black;
}

.btn-agregar {
  width: 280px;        
  max-width: 150%;      
  margin: 5px;  
  display: block;
  background-color: #1e90ff;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: .2s;
}

.btn-agregar:hover {
  background-color: #39ff14;
  transform: scale(1.04);
  box-shadow: 0 0 10px rgba(57,255,20,0.7);
}


.producto-card button {
  width: 220px;       
  max-width: 90%;
  display: block;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.producto-card button:hover {
  opacity: 0.9;
}

.btn-compartir {
  background-color: #444;
  color: white;
}

.btn-enviar {
  background-color: #1e90ff;
  color: white;
}

