main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 40px 20px;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}
h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(30,144,255,0.8);
}

.formulario {
  flex: 1 1 400px;
  background: #111;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(30,144,255,0.6);
  transition: transform 0.3s, box-shadow 0.3s;
}

.formulario h3 {
  color: #39FF14;
  font-family: 'Orbitron', sans-serif;
  font-size: 22px;
  margin-bottom: 20px;
  text-shadow: 0 0 8px rgba(57,255,20,0.8);
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  background: #222;
  color: #fff;
  font-size: 14px;
}

input:focus {
  outline: 2px solid #1E90FF;
  background: #000;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #1E90FF;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: #39FF14;
  color: #000;
  transform: scale(1.05);
}
